* {
  font-family: "Open Sans", sans-serif;
}

h2,
h1,
.name,
.return {
  text-align: center;
}

.header-text {
  margin-bottom: 1rem;
  font-size: 4rem;
  color: black;
}

h1 {
  font-size: 3rem;
}

.name.products li {
  font-weight: bold;
  font-size: 1.5rem;
  list-style-type: none;
  display: inline-block;
  margin-right: 1rem;
  border: 2px solid black;
  border-radius: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px 50px;
}

.return {
  display: block;
  color: navy;
  font-size: 1.5rem;
  font-weight: bold;
}

.name-recipes {
  display: inline-block;
  margin-bottom: 10px;
}
